* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* Search */
.main-header {
    background-color: #1a1a1a;
    width: 100%;
    height: 95px;

}


.location-search{
    width: 100%;
    display: flex;
    padding: 20px;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
#search_bar {
    margin-right: 20px;
    border-radius: 10px;
    border: 2px solid whitesmoke;
    text-align: center;
    height: 50px;
    font-family: "Open Sans";
    font-size: 15px;
    width: 600px;
}


.location-search_button {
    height: 50px;
    background-color: rgb(46, 46, 46);
    width: 50px;
    border: none;
    border-radius: 100px;
    margin: 5px;
}

.location-search_button:hover {
    background-color: black;
    transition: 0.7s linear;
    
    color: whitesmoke;

}

.location-search_button > i {
    color: whitesmoke;
    font-size: 20px;
}


/* Container */
.container {
    display: flex;
    flex-direction: column;
    background-image: url('/img/bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 775.5px;
}

/* BlackBox */
.blackbox {
    display: none;
    width: 100%;
    height: 775.5px;
    background-color: rgba(0, 0, 0, 0.623);
}


/* Weather Stats */ 
.weather_stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 800px;

}

.box {
    height: 200px;
    width: 500px;
}

.stats {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    color: rgb(236, 236, 236);
}


#temp_deg {
    font-family: "Montserrat";
    font-size: 80px;
    text-align: center;
}

#city{
    font-family: "Open Sans";
    font-size: 70px;
}


/* Footer */

footer {
    position: static;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    bottom: 0;
    height: 60px;
    width: 100%;
    background-color: #333;
}

footer > h3 a{
    text-decoration: none;
    color: whitesmoke;
    padding: 5px;
    font-family: "Open Sans";
    font-weight: 400;
}


footer > h3:hover{
    background-color: black;
    border-radius: 5px;
    padding: 5px;
    transition: 0.8s linear;
    
}







